.home_container {
  background: url("/bg-gradient.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
  color: white;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  border-radius: inherit;
}

.home_container > .scroll_text_container {
  --gap: 1rem;
  position: absolute;
  bottom: 0.25em;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  white-space: nowrap;
}

.home_container .scroll_text {
  width: fit-content;
  animation: scroll_1 10s linear infinite;
  font-weight: 500;
  font-size: 3rem;
  margin: 1rem 0;
  animation-play-state: inherit;
}

.home_container > .scroll_text_container:hover {
  animation-play-state: paused;
}

@keyframes scroll_1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
