.navContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 12px;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  list-style-type: none;
  white-space: nowrap;
}

.navContainer a {
  color: white;
  text-decoration: none;
}
